BODY{
   font-family: Verdana, Arial;
   font-size: 13px;
   color: #BDD7DA;
   background-color: #6E9FA6;
}

A{
   color: #BDD7DA;
}

A:visited{
   color: #BDD7DA;
}

A:hover{
  color: #96BCC2;
}

TABLE.main_table{
border: 1px #36767F solid;
width: 100%;
}

TABLE.content_table{
border: 1px #36767F solid;
background-color: #4F8991;
Width: 80%;
text-align: left;
}

TABLE.calendar {
border-collapse: collapse;
}

TABLE.calendar TD{
border: 1px black solid;
padding: 5px 5px;
text-align: center;
}

TABLE.day{
width: 100%;
}

TABLE.day TH{
text-align: center;
background-color: #96BCC2;
}

PRE.code {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 2em;
 padding: .25em;
 font: 13px Monospace;
}

DIV.code {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 2em;
 padding: .25em;
 font: 13px Monospace;
}
